@import "mixin";
@import "setup";

* {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
}

header {
  background-color: $lightBlue;
  height: 80vh;

  .headerContainer {
    padding: 20vh 10%;
    line-height:35px;
  }
  h1 {
    margin: 0;
    @include headerFont(8rem);
    display: inline;
    span{
      @include headerFont(8rem);
      text-decoration:  underline 3px solid $red;
      color:$red;
    }

    &:first-child{
      @include headerFont(4rem);
    }
  }
  h2 {
    @include bodyFont(3rem);
    letter-spacing: 3px;
    margin-top: 0;
  }

  a {
    @include bodyFont(1rem);
    font-size: 1.5rem;
    color: $babyBlue;
    text-decoration: none;
    display: inline-block;
    background-color: $red;
    padding: 0px 50px;
    border: 3px double $red;
    transition-duration: 1s;

    &:hover {
      border: 3px double $babyBlue;
      transition: 0.3s;
    }

    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}

.aboutMeSection {
  background-image: url(/assets/layered-peaks-haikei.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $mediumBlue;
  padding-top: 21vh;
  padding-bottom: 5vh;

  h2 {
    @include headerFont(4rem);
    color: $babyBlue;
    background-color: $red;
    margin: 0;
    z-index: -1;
    padding-left: 12.5%;
    width: 21.6%;
    height: 3.4rem;
    line-height: 2.94rem;
    letter-spacing: 3px;
    border-bottom: 1.5px $babyBlue solid;
  }

  .aboutMeContainer {
    padding-top: 10vh;
    display: flex;
    justify-content: center;

    img {
      // box-shadow: 15px 15px $red;
      border-bottom: 3px solid $red;
    }

    .aboutMeDescription {
      width: 400px;
      height: 400px;
      background-color: $babyBlue;
      border-bottom: 3px solid $red;
      padding: 20px 0 20px 20px;
      h1 {
        @include headerFont(4rem);
        color: $red;
        margin: 0;
      }
      h4 {
        @include headerFont(1rem);
        margin-top: 0;
      }
      p {
        padding-right: 20px;
        @include bodyFont(1.4rem);
        line-height: 20px;
      }
    }
  }
}

.skills {
  background-image: url(/assets/layered-peaks-haikei-skill.png);
  background-size: cover;
  background-color: $darkBlue;
  padding: 15vh 0 15vh;

  h2 {
    @include headerFont(4rem);
    color: $babyBlue;
    background-color: $red;
    height: 3.4rem;
    margin: 0;
    line-height: 2.94rem;
    margin-left: 50%;
    letter-spacing: 3px;
    text-align: center;
    border-bottom: 1.5px $babyBlue solid;
  }

  .resumeSkillContainer{
    display:grid;
    grid-template-columns: 15% auto;
    margin-top: 10vh;
  }

  .resumeContainer{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    h3{
      @include headerFont(2.5rem);
      margin-top: 0;
      color: $babyBlue;
    }
    i{
      color: $babyBlue;
      font-size: 1.5rem;
      padding: 10px 15px;
    }
    
    a{
      background-color: $red;
      @include bodyFont(1.5rem);
      text-decoration: none;
      color: $babyBlue;
    }
  }

  .skillsContainer {
    @include bodyFont(3rem);
    ul {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      padding-left: 0;
      row-gap: 20px;
      justify-self: end;
      .skill {
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          font-size: 2.5rem;
          color: $red;
          background-color: $babyBlue;
          padding: 10px;
          margin-bottom: 5px;
          border-bottom: 1.5px solid $red;
        }
        li {
          @include bodyFont(1.5rem);
          list-style: none;
          text-align: center;
          margin-bottom: 10px;
          color: $babyBlue;
          text-decoration: underline $red 1.5px;
        }
      }
    }
  }
}

.projectsContainer {
  background-image: url(/assets/layered-peaks-haikei-project.png);
  background-color: $babyBlue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  h2 {
    @include headerFont(4rem);
    color: $babyBlue;
    background-color: $red;
    margin: 0;
    z-index: -1;
    padding-left: 12.5%;
    width: 21.6%;
    height: 3.2rem * 2;
    line-height: 3rem;
    letter-spacing: 3px;
    border-bottom: 1.5px $babyBlue solid;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .projectOne,
  .projectTwo,
  .projectThree {
    display: flex;
    flex-direction: column;
    margin: 10vh 0 10vh;

    img {
      width: 300px;
    }

    .projectDescription {
      width: 300px;
      height: 500px;
      padding: 0px 0px 50px;
      background-color: $babyBlue;
      border-bottom: 3px solid $red;

      h3 {
        @include headerFont(3rem);
        color: $red;
        margin: 0;
      }

      h4 {
        @include bodyFont(1.5rem);
        margin: 10px 0 10px;
      }

      p {
        @include bodyFont(1.5rem);
        margin: 10px 0 10px;
      }

      .projectSkillContainer {
        display: flex;
        justify-content: flex-start;
        padding: 0;

        i {
          font-size: 2.5rem;
          color: $red;
          padding-right: 10px;
        }
      }

      .liveLinks {
        padding: 10px 0 10px;

        .devicon-github-original-wordmark {
          padding: 9px 10px 11px 10px;
        }

        a {
          color: $red;
          text-align: center;
          margin-right: 10px;

          i {
            background-color: $babyBlue;
            padding: 10px;
            font-size: 2rem;
            border: 3px double $red;
            transition-duration: 0.5s;

            &:hover {
              border: none;
              border: 3px double $babyBlue;
              color: $babyBlue;
              background-color: $red;
            }
          }
        }
      }
    }
  }
}

.contactsPageContainer {
  background-image: url(/assets/layered-peaks-haikei-footer.png);
  background-color: $babyBlue;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 40px;
  .contactsContainer {
    display: flex;
    justify-content: center;

    form {
         padding-bottom:20px;
      fieldset {
        border: none;

        .nameEmailContainer {
          @include bodyFont(1.5rem);

          input[type="text"] {
            margin-bottom: 7px;
          }

          input[type="text"],
          input[type="email"] {
            width: 100%;
            border: none;
            padding: 15px;
            opacity: 0.5;
            outline: none;
            &:focus{
              opacity: 1;
            }

            
          }
        }

        textarea {
          @include bodyFont(1.5rem);
          margin-top: 30px;
          border: none;
          outline: none;
          resize: none;
          padding: 10px;
          opacity: 0.5; 

          &:focus{
            opacity: 1;
          }
        }
      }
    }

    .contactInfo {
      display: flex;
      flex-direction: column;
      width: 25%;
      padding-left: 10px;
      h2 {
        margin: 0;
        @include headerFont(4rem);
        color:$red;
      }
      .contactLinks {
           padding: 10px 0 10px;
           border-bottom: 3px $red solid;

          a {
          margin: 0 10px 0 0;
          text-decoration: none;
          
          i{
            color: $red;
            font-size: 2rem;
            background-color:$babyBlue;
            border: 3px double $red;
            padding: 11px 10px 10px 10px;
            transition-duration: 0.5s;
            
            &:hover{
              font-size: 2rem;
              color:$babyBlue;
              background-color:$red;
              border: 3px double $babyBlue;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #f1faee;
  p {
    @include headerFont(1.5rem);
    padding: 5px;
    margin: 0px;
    text-align: center;
  }
}
